<!DOCTYPE html>
<html lang="en" ng-app="toDoList">

<head>
  <meta charset="utf-8">
  <title>To-do List</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="style.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" defer></script>
</head>

<body ng-controller="TaskController as taskCtrl">
  <div class = "panel panel-default">
   <div class = "panel-heading">
      <h2 class = "panel-title">
        <center>
         TASKMASTER
       </center>
      </h3>
   </div>

  <div id='tasksformandtable'>
    <center>
      <form class="form-horizontal" name="addtask">
      <input name="addtask" type="text" ng-model="entry" placeholder="Type your to-dos here!" required>
      <button id="addtaskbtn" ng-click="taskCtrl.addTask(entry); entry = null" ng-disabled="addtask.$invalid">Add Task</button>
    </form>
  </center>

    <table class="table">
      <thead>
        <tr>
          <th>Task</th>
          <th>Complete?</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in taskCtrl.tasks | filter:taskLogic" ng-mouseover="hovertoggle = true" ng-mouseleave="hovertoggle = false" ng-class="{'active' : hovertoggle, 'success' : successtoggle}">
          <td>{{task.name}}</td>
          <td>
            <input type="checkbox" id="checkbox" ng-model="task.complete" ng-click="successtoggle = !successtoggle">
          </td>
          <td id="crosstick">{{task.complete | checkmark}}</td>
        </tr>
      </tbody>
    </table>
    <p id="numberoutstanding" ng-hide="taskCtrl.tasks.length === 0">
      {{taskCtrl.returnIncompleteTasks().length}} {{taskCtrl.returnIncompleteTasks().length === 1 ? "task" : "tasks"}} outstanding
    </p>
    
    <button id="all" ng-click="taskLogic = {}">All</button>
    <button id="active" ng-click="taskLogic = {complete: false}">Active</button>
    <button id="complete" ng-click="taskLogic = {complete: true}">Complete</button>
    <button id="clearall" ng-click="taskCtrl.tasks = []">Clear All</button>
  </div>
  <script src="js/app.js"></script>
  <script src="js/taskController.js"></script>
  <script src="js/customFilters.js"></script>
</body>

</html>
